.bar-h-s{height: 20px;}
@media only screen and (device-width: 375px) and (device-height: 812px) and 
(-webkit-device-pixel-ratio: 3) {
    /*增加头部适配层*/
    .has-topbar {
        height: 100%;
        box-sizing: border-box;
        padding-top: 44px;
    }
 	.has-topbar-h {
        height: 44px;
    }
   	.sy-content{
   		position: absolute;
   		left: 0;
   		top: 0;
   		right: 0;
   		bottom: 85px!important;
   	}
    #bottomx{
    	height: 85px;
    	z-index: 9999999;
    	border-top: 1px solid  #e5e5e5;
    }
    .mui-bar-tab{
    	display: initial;    	
    }
    .ipx_h{
    	display: flex;
    	flex-direction: column;
    	height: 94px;
    }
    .ipx_h::before{
    	content: '';
    	display: block;
    	height: 24px;
    	width: 100%;
    }
    .ipx_content{
    	position: relative;
    	top: 24px;
    }
    .jxfytjxz{
    	top: 95px;
    	border-bottom: 1px solid  #e5e5e5;
    	z-index: 9999999;
    }
}
