.notice_fyblank_display{
	display: blank;
	background-color: #ffffff;
	height: 100%;
}
.notice_fyblank_displaynone{
	display: blank;
	/*display: none;*/
	border: 1px solid red;
	
}
.notice_fangneirong_display{
	display: none;
	/*display: blank;*/
}
.notice_img{
	margin-top: 3.066666rem;
	height: 2.373333rem;
	background: url(../img/notice_ceter/kongbai_img.png) no-repeat center;
	background-size: auto 100%;
}
.zhanwudongz{margin-top: 0.506666rem;}
